<style>
    :root {
        --font-size: 62.5%;
        --background: #FFFFFFFF;
        --text-default: #1A1E21;
    }

    html {
        font-size: var(--font-size);
        scroll-behavior: smooth;
    }

    body {
        color: var(--text-default);
        background: var(--background);
        line-height: 1.6;

        font-family: Inter, sans-serif;

        font-size: 1.6rem;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>